<html>
	<head> 
		<meta http-equiv="pragma" content="no-cache"/> 
		<title>Alexey Kosarev Gallery</title> 
 
		<link href="/main.css" type="text/css" rel="stylesheet"/> 
		<link href="/favicon.ico" type="/image/vnd.microsoft.icon" rel="icon"/> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8;"/> 
	</head> 

<body>
   	<p><b style="font-family:times; font-size:16px;">%HEADER%</b></p>
	<br>
	<div>

		<table>
			%IMAGES_LIST%
		</table>

	</div>
</body>
</html>
