<tr>
	<td>
   		&nbsp;
	</td>
</tr>
<tr>
	<td>
   		<p style="font-family:times; font-size:16px;">%COMMENT%</p>
	</td>
</tr>
<tr>
	<td>
		<a href="%DATA_URI%"><img alt="%IMAGE_COMMENT%" src="%IMAGE_URI%"></a>
	</td>
</tr>

